/*******************************************************************************************************************************
 * Copyright © 2018 Aashish Koirala <https://www.aashishkoirala.com>
 * 
 * This file is part of Aashish Koirala's Personal Website and Blog (AKPWB).
 *  
 * AKPWB is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Listor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with AKPWB.  If not, see <http://www.gnu.org/licenses/>.
 * 
 *******************************************************************************************************************************/

body {
    margin: 0;
    background: white;
    font-family: arial;
}

.header {
    width: 100%;
    height: 170px;
    background: black url('../images/header.png') no-repeat;
}

@media (max-width: 500px) {
    .header {
        height: 85px;
        background: black url('../images/header-small.png') no-repeat;
    }
}
@media (max-width: 400px) {
    .contact-item {
        display: none;
    }
}

div.section {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: none;
    width: 50%;
    min-height: 200px;
    border-left: 1px solid #667799;
    border-bottom: 1px solid #667799;
    padding: 0;
    font-size: 14px;
}

.section-top {
    height: 200px;
    overflow: hidden;
}

.section-title {
    background-image: linear-gradient(to right, #99AADD, white);
    border-bottom: 1px solid white;
    color: black;
    font-family: arial;
    font-size: 18px;
    font-variant: small-caps;
    padding: 10px 10px 10px 10px;
}

div.section-body {
    padding: 10px;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    div.section-body div {
        display: inline-block;
    }

    div.section-body .icons {
        width: 130px;
        float: right;
    }

img.icon-link {
    width: 48px;
    height: 48px;
}

div.icon-link {
    display: inline-block;
    padding: 5px;
}

    div.icon-link div {
        width: 48px;
    }

@media (max-width: 768px) {
    div.section {
        width: 100%;
    }
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: #667799;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: circle;
    margin: 0;
    padding-left: 20px;
}

li {
    padding-top: 5px;
}

.blog-subtitle {
    color: #446677;
}

.no-bullet {
    list-style-type: none;
}